    # Be sure to only have this line once in your configuration
    NameVirtualHost 127.0.0.1:80

    # This is the configuration for emom
    Listen 127.0.0.1:80

    <VirtualHost 127.0.0.1:80>
      ServerName emom.localhost
      DocumentRoot "/home/trade/Emom/web"
      DirectoryIndex index.php
      <Directory "/home/trade/Emom/web">
        AllowOverride All
        Allow from All
      </Directory>

      Alias /sf "/home/trade/Emom/lib/vendor/symfony/data/web/sf"
      <Directory "/home/trade/Emom/lib/vendor/symfony/data/web/sf">
        AllowOverride All
        Allow from All
      </Directory>
    </VirtualHost>
